.recipe-title {
    color: #4caf50;
    text-decoration: none;
}

#filter-cuisines-checkbox {
    min-width: 200px !important;
}

#filter-diets-checkbox {
    min-width: 200px !important;
}

#filter-intolerances-checkbox {
    min-width: 200px !important;
}

#filter-meal-types-checkbox {
    min-width: 200px !important;
}

#added-ingredient-textbox {
    width: 90% !important;
    border-right: 10px;
}

#rec-recipe-header {
    margin-bottom: 10px !important;
}

.photo-content {
    overflow: visible !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hover-for-name {
    color: white;
    font-size: 14;
}

.tag-input-photo{
    width: 200px;
    position: absolute;
    z-index: 1;
}

.my-react-crop > .ReactCrop__crop-selection{
    border: 2px solid white;
    box-shadow: 0 0 0 0;
    position: absolute;
}

.ReactCrop.my-react-crop {
    overflow: inherit;
}

.my-react-crop > .ReactCrop__drag-handle {
    display: none;
}

.rect-tag-crop {
    border: 2px solid white;
    position: absolute;
}

.recipe-card {
    width: 130vh !important;
    margin-bottom: 10px;
}

.recipe-header {
    height: 20px;
}

.recipe-thumbnail {
    width: 100% !important;
}